
.trio{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 6px 1px #000000;
    border-radius: 0.5rem;
    width: 9rem;
    height: 12.5rem;
    backdrop-filter: blur(2rem);
    background-color: transparent  /* #8b6456;*/
}

.date{
    margin-top: 1rem;
    margin-bottom: 0;
}

.temp{
    display: flex;
    flex-direction: row;
    width: 7rem;
    justify-content: space-around;
}

@media (max-width:912px) {
    .trio {
        flex-direction: row;
        width: 24rem;
        border-radius: 4rem;
        height: 2.5rem;
        justify-content: space-evenly;
    }
    .date{
        margin-top: 0;
    }
    .imagen{
        width: 3.5rem;
    }
    .temp{
        margin-top: 1rem;
    }
}

@media (max-width:513px) {
    .trio{
        width: 17rem;
    }
}