.contenedor {
    width: 55rem;
    height: 33rem;
    background-color: rgb(20 50 80 / 25%);
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    margin: 1rem;
    border-radius: 10px;
    backdrop-filter: blur(1rem);
    box-shadow: 2px 2px 6px 1px #000000;
}
.closeButton {
    display: flex;
    float: right;
    color: wheat;
    background-color: rgb(20 50 80 / 25%);
    border-radius: 5px;
    border-top-right-radius: 10px;
    outline: none;
    border: none;
}
.closeButton:hover{
    background-color: rgb(175, 32, 32);
}
.closeButton:active{
    background-color: rgba(175, 32, 32, 0.663);
    outline: none;
}
.h1 {
    font-size: 2rem;
    display: flex;
    width: 45rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    justify-content: start;
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -2rem;
}
.h2{
    display: flex;
    font-size: 9rem;
    margin-top: 1rem;
} 
.imagen{
    width: 12rem;
    margin-top: 2rem;
}
.time{
    margin-top: -2rem;
    font-size: 1.2rem;
}
.elementos{
    display: flex;
    width: 12rem;
    flex-direction: column;
    justify-content: space-around;
}
.temp{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
.h4{
    font-size: 1.5rem;
}
.h3{
    font-size: 2.3rem;
}
.humedad{
    width: 3rem;
    border-radius: 4rem;
    margin-bottom: 0.6rem;
}
.cards{
    width: 55rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



@media (max-width:912px) {
    .contenedor {
        width: 30rem;
    }
    .h1{
        font-size: 1.3rem;
        width: 22rem;
    }
    .h2{
        font-size: 5rem;
    }
    .imagen{
        width: 10rem;
    }
    .time{
        font-size:1rem;
    }
    .h4{
        font-size: 1.2rem;
    }
    .h3{
        font-size: 1.8rem;
    }
    .elementos{
        width: 10rem;
    }
    .humedad{
        width: 2.5rem;
    }
    .cards{
        flex-direction: column;
        width: 30rem;
        height: 17rem;
        align-items: center;
    }
}

@media (max-width:513px) {
    .contenedor{
        width:20rem;
        height: 42rem;
    }
    .h1{
        width:17rem;
    }
    .info{
        flex-direction: column;
        align-items: center;
    }
    .elementos{
        width: 17rem;
        justify-content: space-around;
        flex-direction: row;
    }
    .temp{
        width: 8rem;
    }
    .h2{
        width: 17rem;
        justify-content: center;
        margin-bottom: -2rem;
        margin-left: 2rem;
    }
    .imagen{
        margin:0;
    }
    .h4{
        font-size: 1rem;
    }
    .h3{
        font-size: 1.6rem;
    }
    .humedad {
        width: 2rem;
    }
    .cards{
        width: 20rem;
    }
}